# Lab | Customer Analysis Round 5

In [3]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

file_path = r"C:\Users\ashis\Downloads\marketing_customer_analysis.csv"

data = pd.read_csv(file_path)

# X-y split.

# Display the first few rows of the dataframe to understand its structure
data.head()

# Define the target variable
y = data['Customer Lifetime Value']

# Define the feature variables, excluding the target and non-predictive columns
X = data.drop(columns=['Customer Lifetime Value', 'Customer', 'Unnamed: 0'])

# Display the shapes of X and y to confirm the split
X.shape, y.shape

((10910, 23), (10910,))

In [4]:
# Normalize (numerical).

from sklearn.preprocessing import StandardScaler

# Identify numerical columns
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Fit and transform the numerical columns
X[numerical_cols] = scaler.fit_transform(X[numerical_cols])

# Display the first few rows of the normalized data
X.head()

,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,Arizona,No,Basic,College,2/18/11,Employed,M,0.345635,Suburban,Married,...,-0.421143,2.509455,Corporate Auto,Corporate L3,Offer3,Agent,-0.486325,Four-Door Car,Medsize,NaN
1,California,No,Basic,College,1/18/11,Unemployed,F,-1.236462,Suburban,Single,...,-0.421143,-0.824922,Personal Auto,Personal L3,Offer4,Call Center,1.061160,Four-Door Car,Medsize,NaN
2,Washington,No,Basic,Bachelor,2/10/11,Employed,M,-0.507194,Suburban,Single,...,-0.421143,-0.408125,Personal Auto,Personal L3,Offer3,Call Center,0.154404,SUV,Medsize,A
3,Oregon,Yes,Extended,College,1/11/11,Employed,M,0.380189,Suburban,Single,...,-0.421143,-0.408125,Corporate Auto,Corporate L3,Offer2,Branch,0.168140,Four-Door Car,Medsize,A
4,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,-0.456597,Suburban,Married,...,NaN,1.675860,Personal Auto,Personal L2,Offer1,Branch,0.934524,Four-Door Car,Medsize,NaN